page-perfil {
  ion-content.cards-bg {
    background-color: #ededed;
  }

  ion-card {
    ion-card-header {
      font-size: 3rem !important;
    }
  }

  ion-item {
    padding-left: 0px !important;
  }
}
