<ion-header>
  <ion-navbar color="primary">
    <ion-title>Editar locación</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit(editarLocacionForm.valid)" [formGroup]="editarLocacionForm" novalidate>  
    <ion-list>
      <ion-list-header color="gris">
        Datos de la locación
      </ion-list-header>
      <div padding>        
        <ion-item>
					<ion-label stacked>Nombre</ion-label>
					<ion-input type="text" formControlName="nombre" name="nombre"></ion-input>
				</ion-item>
				<ion-item class="error-message" text-wrap [hidden]="editarLocacionForm.controls.nombre.valid || (editarLocacionForm.controls.nombre.pristine && !submitted)">
					Ingrese un nombre válido
        </ion-item>
        
        <ion-item>
					<ion-label stacked>Dirección</ion-label>
					<ion-input type="text" formControlName="direccion" name="direccion"></ion-input>
				</ion-item>
				<ion-item class="error-message" text-wrap [hidden]="editarLocacionForm.controls.direccion.valid || (editarLocacionForm.controls.direccion.pristine && !submitted)">
					Ingrese una dirección válida
        </ion-item>
        
        <ion-item>
					<ion-label stacked>Capacidad</ion-label>
					<ion-input type="text" formControlName="capacidad" name="capacidad"></ion-input>
				</ion-item>
				<ion-item class="error-message" text-wrap [hidden]="editarLocacionForm.controls.capacidad.valid || (editarLocacionForm.controls.capacidad.pristine && !submitted)">
					Ingrese una cantidad válida
				</ion-item>
      </div>

      <ion-list-header color="gris">
        Teléfonos
      </ion-list-header>
      <div formArrayName="telefonos">
				<div *ngFor="let telefono of editarLocacionForm.controls.telefonos.controls; let i = index">
					<ion-list-header color="light">
            Teléfono {{ i + 1 }}

            <button ion-button outline item-end (click)="removeFromTelefonos(i)" icon-right type="button" color="danger">
              Eliminar
              <ion-icon name="trash"></ion-icon>	
            </button>
					</ion-list-header>
					<div padding [formGroupName]="i">

						<ion-item>
              <ion-label stacked>Prefijo</ion-label>
              <ion-input type="num" formControlName="prefijo" name="prefijo" placeholder="0268"></ion-input>
            </ion-item>
            <ion-item class="error-message" text-wrap [hidden]="editarLocacionForm.controls.telefonos.controls[i].controls.prefijo.valid || (editarLocacionForm.controls.telefonos.controls[i].controls.prefijo.pristine && !submitted)">
              Ingrese un prefijo válido
						</ion-item>
						
						<ion-item>
              <ion-label stacked>Número</ion-label>
              <ion-input type="num" formControlName="numero" name="numero" placeholder="0898976"></ion-input>
            </ion-item>
            <ion-item class="error-message" text-wrap [hidden]="editarLocacionForm.controls.telefonos.controls[i].controls.numero.valid || (editarLocacionForm.controls.telefonos.controls[i].controls.numero.pristine && !submitted)">
              Ingrese un número válido
						</ion-item>
						
						<ion-item>
              <ion-label stacked>País</ion-label>
							<ion-select formControlName="pais" name="pais" cancelText="Cancelar" okText="Seleccionar">
								<ion-option *ngFor="let c of countries" [value]="c.code" [selected]="c.code == editarLocacionForm.controls.telefonos.controls[i].controls.pais.value">{{ c.name }}</ion-option>
							</ion-select>
            </ion-item>
            <ion-item class="error-message" text-wrap [hidden]="editarLocacionForm.controls.telefonos.controls[i].controls.pais.valid || (editarLocacionForm.controls.telefonos.controls[i].controls.pais.pristine && !submitted)">
              Seleccione un país de la lista
						</ion-item>

					</div>
				</div>

				<div padding>
					<ion-item [hidden]="editarLocacionForm.controls.telefonos.controls.length > 0" text-wrap>
						No existe ningun teléfono asociado a tu perfil
					</ion-item>
				</div>

				<a ion-button full color="danger" outline icon-right (click)="addToTelefonos()">
					Agregar número de teléfono
					<ion-icon name="add"></ion-icon>
				</a>
			</div>
    </ion-list>

    <div padding submit>
			<button ion-button type="submit" block color="secondary" [disabled]="submitted">
				Editar locación
			</button>
		</div>
  </form>
</ion-content>
